.merlin
.bsb.lock

.idea/
.vscode/
.DS_Store/

/_build/
/_release
/_esy/
/lib/
/example/lib/
/node_modules/

*.byte
*.native
*.install
*.gen.tsx
*.bs.js

npm-debug.log
yarn-error.log

lenses-ppx
lenses-ppx.exe
